* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
  position: relative;
  left: 350px;
}

button {
  width: 200px;
  margin-bottom: 25px;
  background-color: green;
}

form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 550px;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  margin-top: 125px;
  border-radius: 25px;
  background-color: white;
}
